.container
{
  margin: 0 auto;
  max-width: 400px;
  background-color: #FFFFFF;
  margin:20px 150px 20px 150px;
  padding: 30px;
}

h1
{
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
}

.tagline
{
  text-align: center;
  font-size: 15px;
  margin-bottom: 0px;
}

body
{
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f9f7f5;
}

img
{
  width: 50px;
  height: 50px;
  padding-right: 10px;
  padding-top: 10px;
}

h2
{
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-color: #CF965B;
  border-width: 2px;
}

.city-description
{
  font-size: 15px;
  margin-left: 25px;
}

a:link
{
  color: purple;
}

a:hover
{
  color: orange;
}
